@tailwind base;
@tailwind components;
@tailwind utilities;

.outside blockquote {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.outside img {
  display: inline !important;
  margin: 0 !important;
}
